.git
.gitignore
*.md
.env
.env.*
!.env.example
.vscode
.idea
*.swp
*.swo
.bundle
log/*
!log/.keep
tmp/*
!tmp/.keep
db/*.sqlite3
db/*.sqlite3-*
node_modules
public/assets
public/packs
coverage/
spec/
test/
vendor/bundle
.DS_Store
